.bar {
	margin-top: 5%;
	margin-bottom: 10%;
}
.viewData {
	display: inline;
}
.textData {
	margin-top: 15px;
	overflow-y: auto;
	border-radius: 5px;
	max-height: 200px;
	overflow-wrap: anywhere;
}

.responseBlock {
	display: flex;
	border: solid 1px darkgray;
	border-radius: 5px;
	padding: 10px;
	align-content: center;
	margin-bottom: 10px;
}

.export-import-button {
	display: flex;
	color: black;
	cursor: pointer;
}
